{
  "CollectionNotColumn.batch": "${this.sample_set_id}",
  "CollectionNotColumn.rd_table": "${this.merged_bincov}",
  "CollectionNotColumn.sample_ids": "${this.samples.sample_id}",
  "CollectionNotColumn.coverage_counts": "${this.samples.coverage_counts}"
}
