{
  "LacksReadColumn.batch": "${this.sample_set_id}",
  "LacksReadColumn.rd_table": "${this.merged_bincov}",
  "LacksReadColumn.median_cov": "${this.median_cov}",
  "LacksReadColumn.ploidy_table": "${this.ploidy_table}"
}
