{
  "MemberCollection.batch": "${this.sample_set_id}",
  "MemberCollection.median_cov": "${this.median_cov}",
  "MemberCollection.member_batches": "${this.sample_sets.sample_set_id}",
  "MemberCollection.ploidy_tables": "${this.sample_sets.ploidy_table}"
}
