{
  "MemberTrap.sv_base_mini_docker": "${workspace.sv_base_mini_docker}",
  "MemberTrap.pesr_vcfs": "${this.sample_sets.outlier_filtered_pesr_vcf}",
  "MemberTrap.ploidy_tables": "${this.sample_sets.ploidy_table}",
  "MemberTrap.cohorts": "${this.sample_sets.sample_set_id}",
  "MemberTrap.cohort": "${this.sample_set_set_id}"
}
